* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
}

$globalSize: 16px;

h1 {
  font-size: $globalSize * 5;
  @media only screen and (max-width: 768px) {
    font-size: $globalSize * 3.5;
  }
  margin: 0;
  position: relative;
  color: #fff;
  border-radius: 5px;
}

h2 {
  font-size: $globalSize * 4;
  @media only screen and (max-width: 768px) {
    font-size: $globalSize * 3;
  }
  margin: 0;
  position: relative;
  color: #fff;
  border-radius: 5px;
}

h3 {
  font-size: $globalSize * 3;
  @media only screen and (max-width: 768px) {
    font-size: $globalSize * 2.5;
  }
  margin: 0;
  position: relative;
  color: #fff;
  border-radius: 5px;
}

h4 {
  font-size: $globalSize * 2;
  @media only screen and (max-width: 768px) {
    font-size: $globalSize * 1.5;
  }
  margin: 0;
  position: relative;
  color: #fff;
  border-radius: 5px;
}
h5 {
  font-size: $globalSize * 1.3;
  @media only screen and (max-width: 768px) {
    font-size: $globalSize * 1;
  }
  margin: 0;
  position: relative;
  color: #fff;
  border-radius: 5px;
}
h6 {
  font-size: $globalSize * 1;
  @media only screen and (max-width: 768px) {
    font-size: $globalSize * 0.9;
  }
  margin: 0;
  position: relative;
  color: #fff;
  border-radius: 5px;
}
